@use './variables' as var;
@use './breakpoints' as md;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.4;
  color: var.$darkBlue;
  font-family: var.$font;
  min-height: 100vh;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var.$darkBlue;
}

.hide {
  display: none;

  &-mobile {
    @include md.breakpointDown(medium) {
      display: none;
    }
  }

  &-desktop {
    @include md.breakpoint(medium) {
      display: none;
    }
  }
}

input,
textarea {
  font-family: var.$font;
  outline: 0;
  border: 1px solid var.$darkBlue;
  border-radius: 6px;
  padding: 0.9375rem 0.625rem;
  font-size: 1.125rem;
  color: var.$darkBlue;
}

button {
  outline: 0;
  border: 0;

  &:active,
  &:focus {
    outline: 0;
    border: 0;
  }
}

.btn {
  background-color: var.$darkBlue;
  color: var.$white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.125rem;
  font-family: var.$font;
  font-weight: 700;
  padding: 0.625rem 2.5rem;
}
